<h1 Welcome to twigs ></h1>

<h2>New to Twigs regiser below!</h2><br>
 
                <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
            

<h3> Already a member sign in below!</h3>
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            
