<h2> Sticks </h2>



<% @sticks.each do |stick| %>
    <h3><%= link_to stick.brand, stick_reviews_path(stick)%></h3>
   
    <p>model: <%= stick.model %></p>
    <p>size: <%= stick.size %></p>
    <p>flex: <%= stick.flex %></p

<% end %>