<h2> Sticks </h2><br>




<% @sticks.each do |stick|%>
 
    <%= stick.user.email%><br>

    <%=stick.brand%><br>

    <%= stick.model %><br>

    <br><%= link_to 'list of reviews', stick_reviews_path(:stick_id)%><br>
<% end %>




