<%= form_for [@stick, @review] do |f| %>
  <div class="form-group">

  

  <div class="field"> 
    <h3><%= f.label :review %><br></h3>
    <%= f.text_area :review %>
   </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>